* {
   font-family: 'Monument Grotesk', 'BDO Grotesk', sans-serif;
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
}

/* Top bar styles */

.top-bar {
   display: flex;
   background-color: #ff2878;
   height: 80px;
   color: #fff;
   align-items: center;
   justify-content: space-between;
   padding: 16px;
   gap: 4px;
}

.countdown-timer {
   max-width: 40%;
}

.countdown-timer #time {
   font-weight: 500;
   line-height: 100%;
   font-size: 15px;
}

.countdown-timer #time svg {
   width: 14px;
   height: 14px;
   padding: 2px;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   border: none;
   border-radius: 100px;
   padding: 12px 16px;
   font-weight: 500;
   line-height: 1.5rem;
   font-size: 16px;
   cursor: pointer;
}

.cta-top-bar .button {
   background-color: #fff;
}

.cta-container .button {
   background-color: #ff2878;
   color: #fff;
}

.cta-container .button svg {
   width: 12px;
   height: 12px;
}

/* Hero section */
.hero {
   padding: 0 16px 48px 16px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.hero div.logo-container {
   order: 0;
}

.hero div.text-container {
   order: 1;
}

.hero div.video-container {
   order: 2;
   width: 100%;
}

.hero div.cta-container {
   order: 3;
}

.hero div.logo-container {
   margin: 48px 0;
}

.hero div.text-container,
.hero div.video-container {
   margin: 0 auto 32px auto;
}

h1.title {
   font-weight: 500;
   line-height: 100%;
   font-size: 28px;
   text-align: center;
   padding-bottom: 8px;
}

h1 > .pre-title {
   color: #0c9494;
   font-size: 24px;
   padding-bottom: 12px;
   font-style: italic;
}

.text-container > p {
   font-size: 18px;
   text-align: center;
   font-weight: 400;
   color: #0f1a20;
   margin: 0;
}

.video-container > iframe {
   border-radius: 7.46%;
   width: 100%;
   aspect-ratio: 16 / 9;
   height: fit-content;
}

@media screen and (min-width: 768px) {
   div.logo-container {
      padding: 24px;
      margin: 0;
   }

   h1.title {
      font-size: 45px;
   }

   h1 > .pre-title {
      font-size: 35px;
      font-style: normal;
   }

   .hero div.text-container {
      max-width: 690px;
   }

   .hero div.video-container {
      max-width: 950px;
      margin: 0 auto 0 auto !important;
   }

   .hero div.cta-container {
      order: 1;
      margin: 0 auto 32px auto;
   }
}

/* CTA section */

div.cta-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.price {
   display: flex;
   align-items: center;
   gap: 23px;
   color: #0f1a20;
   padding: 0 4px;
   margin: 0 0 24px 0;
}

.price > p {
   display: flex;
   align-items: center;
   gap: 4px;
   margin: 0;
}

.price .final-price {
   font-weight: 500;
   line-height: 40px;
   font-size: 32px;
}

.price .original-price {
   font-weight: 400;
   line-height: 100%;
   font-size: 18px;
   text-decoration: line-through;
}

.price .discount {
   font-weight: 500;
   line-height: 20px;
   font-size: 14px;
   color: #3b6276;
}

div.cta-container .info-container p {
   font-weight: 500;
   line-height: 20px;
   font-size: 14px;
   color: #0f1a20;
   margin: 16px 0 0 0;
}

@media screen and (min-width: 768px) {
   .info-container {
      display: none;
   }
}

/* Cards Section */

.cards.section {
   padding: 0 16px;
   max-width: 984px;
   margin: 0 auto;
}

.card-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 12px;
   margin: 0 auto 48px auto;
}

.card {
   background-color: #e9eced;
   padding: 24px 16px;
   border-radius: 16px;
   gap: 16px;
   display: flex;
   flex-direction: column;
   height: 120px;
   min-width: 193px;
   color: #244454;
   justify-content: flex-start;
}

@media screen and (min-width: 450px) {
   .card-container {
      justify-content: center;
   }

   .card {
      min-width: 229px;
   }
}

.card > p {
   margin: 0;
}

.card > p:first-child {
   font-size: 25px;
   font-weight: 500;
}

.card > p:nth-child(2) {
   font-size: 17px;
   font-weight: 400;
}

/* Steps section */
.steps.section {
   padding: 32px 16px 48px 16px;
}

.steps.section h2 {
   font-weight: 500;
   line-height: 120%;
   font-size: 25px;
   color: #0f1a20;
   text-align: center;
   margin: 0 0 48px 0;
}

.steps-container {
   display: flex;
   gap: 20px;
   flex-direction: column;
   max-width: 1280px;
   margin: 0 auto;
}

.step {
   display: flex;
   align-items: center;
   gap: 16px;
}

.step .step-icon {
   width: 56px;
   min-width: 56px;
   height: 56px;
   background-color: #a7c1cd;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-radius: 12px;
   font-size: 25px;
   color: #2b7a9d;
   font-weight: 500;
}

.step .step-text > p:first-child {
   font-size: 18px;
   font-weight: 500;
   margin: 0;
   line-height: 32px;
}

.step .step-text > p:nth-child(2) {
   margin: 0;
   font-size: 16px;
   font-weight: 400;
}

@media screen and (min-width: 768px) {
   .steps-container {
      flex-direction: row;
   }

   .step {
      align-items: flex-start;
   }
}

/* Program Structure section */
.program-structure.section {
   padding: 48px 16px;
   background-color: #1e3642;
   color: #e9eced;
}

.program-structure.section > .container {
   max-width: 640px;
   margin: 0 auto;
}

.program-structure h2 {
   font-size: 25px;
   font-weight: 500;
   text-align: center;
   margin: 0 0 40px 0;
}

.program-structure .bloque-inicial {
   padding: 0 0 40px 0;
   border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.program-structure .bloque-inicial > p {
   margin: 0;
   font-size: 20px;
}

.bloque-inicial > p:nth-child(2) {
   color: #a7c1cd;
   font-size: 18px;
}

.program-structure .bloque > h3 {
   text-align: center;
   font-size: 25px;
   font-weight: 500;
   margin: 0 0 40px 0;
}

.program-structure .bloque {
   padding: 32px 0;
   border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.module-container {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.modulo .titulo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.modulo .titulo > h4 {
   margin: 0;
   font-size: 20px;
}

.modulo .contenido > p {
   margin: 0;
   color: #a7c1cd;
}

.modulo .contenido > p {
   font-size: 18px;
   font-weight: 400;
}

.modulo .titulo > .inactive,
.modulo .contenido > .inactive {
   display: none;
}

@media screen and (min-width: 450px) {
   .program-structure .bloque-inicial {
      text-align: center;
   }

   .program-structure .bloque-inicial,
   .program-structure .bloque {
      border: none;
   }

   .module-container .modulo {
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      padding: 0 0 16px 0;
   }
}

/* Boost CV section */
.boost-cv.section {
   padding: 56px 32px;
}

.boost-cv.section .text-container {
   margin: 0 auto 40px auto;
   max-width: 990px;
}

.boost-cv.section h2 {
   font-size: 25px;
   font-weight: 500;
   text-align: center;
   margin: 0 0 16px 0;
}

.boost-cv.section .text-container p {
   margin: 0;
   text-align: center;
   font-size: 16px;
}

.boost-cv.section .image-container {
   max-width: 679px;
   margin: 0 auto;
}

.boost-cv.section .image-container img {
   width: 100%;
}

/* Únete section */
.unete.section {
   padding: 56px 16px;
}

.unete.section > .text-container {
   margin: 0 0 40px 0;
}

.unete.section > .text-container > h2 {
   font-size: 25px;
   font-weight: 500;
   text-align: center;
   margin: 8px 0 0 0;
   line-height: 32px;
}

.unete.section > .text-container > p:first-child {
   color: #ff2878;
   font-weight: 500;
   font-size: 20px;
}

/* ---------------------- */

/* Testimonios section */
.slider {
   display: flex;
   gap: 24px;
   overflow: hidden;
}

.slider-buttons {
   display: flex;
   justify-content: flex-end;
   margin: 40px 0 0 0;
}

.testimonial .content-container {
   padding: 8px 0 0 0;
}

.testimonial .content-container > p:nth-child(2) {
   margin: 0;
   font-size: 16px;
   color: #0f1a20;
}

.testimonial .content-container > p:nth-child(3) {
   margin: 24px 0 0 0;
   font-size: 18px;
   color: #0f1a20;
   font-weight: 500;
}

.testimonial .content-container > p:nth-child(4) {
   margin: 0;
   font-size: 16px;
   color: #243f4c;
}

/* Footer */
footer {
   padding: 80px 40px;
   background-color: #0f1a20;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 60px;
}

footer .logo-container {
   margin: 0;
}

footer .links-container {
   display: flex;
   flex-direction: column;
   gap: 40px;
   text-align: center;
}

footer .links-container a {
   color: #e9eced;
   font-size: 20px;
   text-decoration: none;
}

footer .rrss-container {
   display: flex;
   gap: 60px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
